<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    #<title>777</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Введите 12 числовых параметров:</h1>
<form id="prediction-form">
    <label for="input1">Параметр 1:</label>
    <input type="number" id="input1" name="input1" required><br>
    <label for="input2">Параметр 2:</label>
    <input type="number" id="input2" name="input2" required><br>
    <label for="input3">Параметр 3:</label>
    <input type="number" id="input3" name="input3" required><br>
    <label for="input4">Параметр 4:</label>
    <input type="number" id="input4" name="input4" required><br>
    <label for="input5">Параметр 5:</label>
    <input type="number" id="input5" name="input5" required><br>
    <label for="input6">Параметр 6:</label>
    <input type="number" id="input6" name="input6" required><br>
    <label for="input7">Параметр 7:</label>
    <input type="number" id="input7" name="input7" required><br>
    <label for="input8">Параметр 8:</label>
    <input type="number" id="input8" name="input8" required><br>
    <label for="input9">Параметрц 9:</label>
    <input type="number" id="input9" name="input9" required><br>
    <label for="input10">Параметр 10:</label>
    <input type="number" id="input10" name="input10" required><br>
    <label for="input11">Параметр 11:</label>
    <input type="number" id="input11" name="input11" required><br>
    <label for="input12">Параметр 12:</label>
    <input type="number" id="input12" name="input12" required><br><br>
    <input type="button" id="submit-button" value="Прогноз">
</form>
<div id="result-container"></div>
<audio src="sound.mp3" id="audio"></audio>
<script>
        $(document).ready(function() {
            $('#submit-button').click(function() {
                $.ajax({
                    url: '/predict',
                    type: 'POST',
                    data: $('#prediction-form').serialize(),
                    success: function(response) {
                        $('#result-container').text('Предсказанное значение целевой переменной: ' + response.prediction);
                        $('#audio')[0].play();
                    }
                });
            });
        });
    </script>
</body>
</html>
