<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Прогнозирование значения переменной «Соотношение матрица-наполнитель»</title>
</head>
<body>
<h1>Прогнозирование значения переменной «Соотношение матрица-наполнитель»</h1>
<form id="input-form">
    <label for="param1">Плотность, кг/м3:</label>
    <input type="number" step="0.01" id="param1" name="param1"><br>
    <label for="param2">Модуль упругости, ГПа:</label>
    <input type="number" step="0.01" id="param2" name="param2"><br>
    <label for="param3">Количество отвердителя, м.%:</label>
    <input type="number" step="0.01" id="param3" name="param3"><br>
    <label for="param4">Содержание эпоксидных групп,%_2:</label>
    <input type="number" step="0.01" id="param4" name="param4"><br>
    <label for="param5">Температура вспышки, С_2:</label>
    <input type="number" step="0.01" id="param5" name="param5"><br>
    <label for="param6">Поверхностная плотность, г/м2:</label>
    <input type="number" step="0.01" id="param6" name="param6"><br>
    <label for="param7">Модуль упругости при растяжении, ГПа:</label>
    <input type="number" step="0.01" id="param7" name="param7"><br>
    <label for="param8">Прочность при растяжении, МПа:</label>
    <input type="number" step="0.01" id="param8" name="param8"><br>
    <label for="param9">Потребление смолы, г/м2:</label>
    <input type="number" step="0.01" id="param9" name="param9"><br>
    <label for="param10">Угол нашивки, град:</label>
    <input type="number" step="0.01" id="param10" name="param10"><br>
    <label for="param11">Шаг нашивки:</label>
    <input type="number" step="0.01" id="param11" name="param11"><br>
    <label for="param12">Плотность нашивки:</label>
    <input type="number" step="0.01" id="param12" name="param12"><br>
    <button type="submit">Прогнозировать</button>
</form>
<p>Прогноз: <span id="prediction"></span></p>
<audio id="audio" src="sound.mp3"></audio>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
   // обработка события отправки формы
   $('#input-form').submit(function(event) {
    event.preventDefault()
    $('#audio')[0].play();
    // отправка данных на сервер
    $.ajax({
     type: 'POST',
     url: '/predict',
     data: $(this).serialize(),
     success: function(response) {
      // вывод прогноза на страницу
      $('#prediction').text(response);
           }
    });
   });
  });
 </script>
</body>
</html>
